@model ApplicationUser

<div class="row pb-3">

    <div class="border p-3 mt-4">
        <div class="row pb-2  text-center">
            <h2 class="text-primary">Personal Information</h2>
            <hr />
        </div>
        <div class="row pb-2">
            <p><strong>Name:</strong> @Model.Name</p>
            <p><strong>StreetAddress:</strong> @Model.StreetAddress</p>
            <p><strong>City:</strong> @Model.City</p>
            <p><strong>State:</strong> @Model.State</p>
            <p><strong>PostalCode:</strong> @Model.PostalCode</p>
            <p><strong>Purchase Points:</strong> 0</p>
            
        </div>
        




    </div>
  
    
    
</div>